/*style.css*/

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

/*cover*/
#cover {
  background: #222 url('../images/mountain peaks.jpeg') bottom center no-repeat;
  background-size: cover;
  color: #fff;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cover-caption {
  width: 100%;
}

#cover form {
  justify-content: center;
}

/*carousel*/
.carousel-caption {
  margin-bottom: 5rem;
}
.carousel-indicators li {
  margin-bottom: 5rem;
}

/*cards*/
.card-block {
  flex-grow: 0;
}

.section-content {
  padding: 5rem 0;
}

/*about*/
#about {
  background: url('../images/ice.jpg') center center no-repeat;
  background-size: cover;
}

.about-text {
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 2rem;
}

/*footer*/

#footer-main {
  background: #222;
  color: #fff;
  font-size: 0.8rem;
  padding: 2.5rem;
}
